body {
    background-image: url(../images/rockywall.png);
}

.jumbotron {
    background-color: brown;
}

.display-4 {
    margin: auto;
    text-align: center;
    font-family: fantasy;
    color: #fff;
}

.main {
    background-color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 20px;
    margin: 0px 0px 20px 0px;
}

#computerGuess{
    background-color: green;
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 20px;
}

#win-losses{
    background-color: green;
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 20px;
    margin: 0px 0px 0px 20px;
}

.gems{
    padding: 10px;
    margin: 10px;
    border: solid #3d3d3d 2px;
    border-radius: 2px;
}

.gemsOne {
    padding: 10px;
    margin: 10px 10px 0px 0px;
    border: solid #3d3d3d 2px;
    border-radius: 2px;
}

#scorebox {
    background-color: green;
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 20px;
    width: 100%;
}